:root {
  --background-color: #eaeaef;
  --max-height: 400px;
}

body {
  height: fit-content;
  width: 350px;
  background-color: var(--background-color);
  color: #333;
}

#settings {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  background-color: var(--background-color);
}

.section {
  margin: 20px 10px;
  font-size: 1rem;
  font-weight: bold;
}


label.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}

.subsection {
  padding-left: 10px;
  color: #666;
  font-size: 0.9rem;
}

.subsection label.check {
  margin: 5px 10px;
}

#otherURL {
  font-family: 'Inter';
  margin: 10px;
  font-size: 13px;
  display: none;
}
